* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    top: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    background-color: #FFF;
    position: sticky;
}

.nav__logo {
    display: flex;
    text-decoration: none;
    color: black;
}

.nav__logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(73, 72, 72);
    font-size: 1.2rem;
}

.fa-envira {
    color: #fff;
    background-color: green;
    padding: 5px 5px;
    border-radius: 50%;
    margin-right: 5px;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
}

.nav__item {
    list-style: none;
    padding-top: 5px;
    border-top: 3px solid transparent;
    margin-left: 3vw;
}

.nav__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
}

.header {
    position: relative;
    padding: max(10px, 10vw);
    background-image: url(/Img/Header_background.png);
    background-color: #767474;
    background-blend-mode: multiply;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

.header__info {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    margin: 20px auto 30px auto;
}

.button {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    justify-self: center;
    border: none;
    background-color: #60da55;
    border-radius: 35px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px grey;
    cursor: pointer;
    position: relative;
    color: #fff;
    margin: auto;
}

.header a {
    text-decoration: none;
}

.service {
    position: relative;
    padding: max(10px, 6vw);
    width: 100%;
}

.service__title {
    color: #000;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.service__info {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 50px;
}

.service__items {
    display: flex;
    align-items: center;
    margin: auto 50px auto 50px;
    text-align: center;
}

.service__item--title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service__item--info {
    font-size: 1rem;
    margin: 20px;
    text-align: center;
}

.fa-heart {
    font-size: 70px;
}

.fa-tablet-alt {
    font-size: 70px;
}

.fa-toolbox {
    font-size: 70px;
}

.relax {
    position: relative;
    padding: max(10px, 5vw);
    width: 100%;
    height: 100vh;
    background-image: url(/Img/third_section.png);
    background-color: #767474;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.relax__title {
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.relax__info {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto auto 50px auto;
    width: 50%;
}

.relax__information {
    display: flex;
    flex-direction: column;
    position: relative;
}

.relax__item {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.relax .fa-check-circle {
    color: #fff;
    font-size: 50px;
}

.relax__item i {
    text-align: right;
    margin-right: 20px;
}

.relax a {
    text-decoration: none;
}

.relax button {
    margin: 30px auto 30px auto;
    justify-content: center;
}

.developing {
    position: relative;
    padding: max(10px, 7vw);
    width: 100%;
    background-image: url(/Img/isometric\ iPad\ Air.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 600px 150px;
}

.developing__title {
    color: #000;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.developing__title--info {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 50px;
}

.developing__information--title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-left: 50px;
}

.developing__information--info {
    width: 550px;
    margin-bottom: 20px;
    line-height: 30px;
    margin-left: 50px;
}

.developing__elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-left: 50px;
}

.developing__item {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.fa-shopping-basket {
    font-size: 3rem;
    border: black 4px solid;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
    padding: 14px;
}

.fa-laptop {
    font-size: 3rem;
    margin-right: 15px;
    border: black 4px solid;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    padding: 13px;
}

.fa-lock {
    font-size: 3rem;
    margin-right: 15px;
    border: black 4px solid;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
}

.developing__item--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.developing__item--title {
    font-size: 1.3rem;
    margin-bottom: 6px;
}

.developing__info {
    width: 550px;
    margin-bottom: 30px;
    line-height: 30px;
    margin-left: 50px;
}

.developing__details {
    text-decoration: none;
    color: rgb(90, 170, 9);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 50px;
}

.fa-arrow-right {
    margin-left: 20px;
}

.value {
    position: relative;
    padding: max(10px, 10vw);
    width: 100%;
    background-color: rgba(128, 128, 128, 0.083);
}

.value__title {
    color: #000;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.value__info {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 100px;
}

.value__element {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin-bottom: 50px;
}

.value__item {
    width: 350px;
}

.value__item--title {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.value__item--info {
    font-size: 1rem;
    line-height: 25px;
}

.fa-music {
    font-size: 4rem;
    border: grey 3.5px solid;
    color: grey;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 22px;
}

.fa-music::after {
    content: "";
    position: absolute;
    border: grey 2px solid;
    width: min(12%);
    margin-top: 30px;
    margin-left: min(75px);
}

.fa-chart-bar {
    font-size: 4rem;
    border: grey 3.5px solid;
    color: grey;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 25px;
}

.fa-chart-bar::after {
    content: "";
    position: absolute;
    border: grey 2px solid;
    width: min(12%);
    margin-top: 30px;
    margin-left: min(75px);
}

.fa-star {
    font-size: 4rem;
    border: grey 3.5px solid;
    color: grey;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 22px;
}

.clients {
    position: relative;
    padding: max(10px, 10vw);
    width: 100%;
}

.clients__title {
    color: #000;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.clients__info {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 100px;
}

.clients__element {
    display: block;
}

.clients__item--first {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.clients__item--information--first {
    margin-left: 30px;
    text-align: center;
    margin-top: 25px;
    width: 500px;
    line-height: 25px;
    background-color: rgba(192, 192, 192, 0.083);
    padding: 15px;
}

.clients__photo {
    border-radius: 50%;
}

.clients__item--author {
    color: green;
    font-weight: 600;
    margin-top: 15px;
}

.clients__item--second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 50px;
}

.clients__item--information--second {
    margin-left: 30px;
    text-align: center;
    margin-top: 25px;
    width: 500px;
    line-height: 25px;
    background-color: rgba(192, 192, 192, 0.083);
    padding: 15px;
}

.contact {
    position: relative;
    padding: max(10px, 6vw);
    width: 100%;
    background-color: #60da55;
}

.contact__title {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.button--contact {
    border: #fff solid 3px;
    left: 45%;
    margin-top: 35px;
    font-size: 1rem;
}

.contact a {
    text-decoration: none;
}

.company {
    position: relative;
    padding: max(10px, 6vw);
    width: 100%;
    display: flex;
    justify-content: center;
}

.company__item {
    margin: auto 40px auto 40px
}

.information {
    position: relative;
    padding: max(10px, 6vw);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(36, 35, 35);
}

.information__item {
    width: 300px;
    margin-left: 50px;
}

.information__item--title {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.information__item--info {
    display: flex;
    line-height: 50px;
    align-items: center;
}

.information__item--text {
    margin-left: 10px;
    color: #fff;
}

.information i {
    color: #fff;
    font-size: 20px;
}

.information__item--info-twitter {
    display: flex;
    margin-bottom: 25px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: max(10px, 4vw);
    width: 100%;
    text-align: center;
}

.copyrights {
    color: black;
}

.footer__social {
    text-align: left;
}

.footer__social i {
    margin-left: 50px;
    color: #fff;
    background-color: rgb(36, 35, 35);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 9px;
}

@media screen and (max-width: 768px) {
    .nav {
        position: relative;
    }
    .header__title {
        font-size: 2.5rem;
    }
    .header__info {
        font-size: 1rem;
    }
    .service__title {
        font-size: 2.5rem;
    }
    .service__info {
        font-size: 1rem;
    }
    .service__items i {
        font-size: 50px;
    }
    .service__item--title {
        font-size: 1rem;
        margin-top: 10px;
    }
    .service__items {
        margin-left: -40px;
        margin-right: -40px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
    .service__item--info {
        font-size: 0.9rem;
        text-align: justify;
    }
    .relax__title {
        font-size: 2.5rem;
    }
    .relax__info {
        font-size: 1rem;
        line-height: 30px;
    }
}