* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    top: 0;
    justify-content: space-around;
    align-items: center;
    z-index: 9999;
    background-color: #FFF;
    position: sticky;
}

.nav__logo {
    display: flex;
    text-decoration: none;
    color: black;
}

.nav__logo a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(73, 72, 72);
    font-size: 1.2rem;
}

.fa-envira {
    color: #fff;
    background-color: green;
    padding: 5px 5px;
    border-radius: 50%;
    margin-right: 5px;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    font-size: 1rem;
}

.nav__item {
    list-style: none;
    padding-top: 5px;
    border-top: 3px solid transparent;
    margin-left: 3vw;
}

.nav__item a {
    text-decoration: none;
    text-transform: uppercase;
    color: grey;
}

.header {
    position: relative;
    padding: max(10px, 10vw);
    background-image: url(/Img/Header_background.png);
    background-color: #767474;
    background-blend-mode: multiply;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.header__title {
    color: #fff;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

.header__info {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    margin: 20px auto 30px auto;
}

.button {
    padding: 15px 25px;
    display: flex;
    justify-content: center;
    justify-self: center;
    border: none;
    background-color: #60da55;
    border-radius: 35px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px grey;
    cursor: pointer;
    position: relative;
    color: #fff;
    margin: auto;
}

.header a {
    text-decoration: none;
}

.service {
    position: relative;
    padding: max(10px, 6vw);
    width: 100%;
}

.service__title {
    color: #000;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.service__info {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 50px;
}

.service__items {
    display: flex;
    align-items: center;
    margin: auto 50px auto 50px;
    text-align: center;
}

.service__item--title {
    text-transform: uppercase;
    margin-bottom: 10px;
}

.service__item--info {
    font-size: 1rem;
    margin: 20px;
    text-align: center;
}

.fa-heart {
    font-size: 70px;
}

.fa-tablet-alt {
    font-size: 70px;
}

.fa-toolbox {
    font-size: 70px;
}

.relax {
    position: relative;
    padding: max(10px, 5vw);
    width: 100%;
    height: 100vh;
    background-image: url(/Img/third_section.png);
    background-color: #767474;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
}

.relax__title {
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.relax__info {
    color: #fff;
    font-size: 1.3rem;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto auto 50px auto;
    width: 50%;
}

.relax__information {
    display: flex;
    flex-direction: column;
    position: relative;
}

.relax__item {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1.5rem;
    line-height: 60px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-items: center;
}

.relax .fa-check-circle {
    color: #fff;
    font-size: 50px;
}

.relax__item i {
    text-align: right;
    margin-right: 20px;
}

.relax a {
    text-decoration: none;
}

.relax button {
    margin: 30px auto 30px auto;
    justify-content: center;
}

.developing {
    position: relative;
    padding: max(10px, 7vw);
    width: 100%;
    background-image: url(/Img/isometric\ iPad\ Air.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 70% 50%;
    background-size: 550px 550px;
}

.developing__title {
    color: #000;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.developing__title--info {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 50px;
}

.developing__information--title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-left: 50px;
}

.developing__information--info {
    width: 550px;
    margin-bottom: 20px;
    line-height: 30px;
    margin-left: 50px;
}

.developing__elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-left: 50px;
}

.developing__item {
    display: flex;
    margin-bottom: 20px;
    position: relative;
}

.fa-shopping-basket {
    font-size: 3rem;
    border: black 4px solid;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
    padding: 14px;
}

.fa-laptop {
    font-size: 3rem;
    margin-right: 15px;
    border: black 4px solid;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    padding: 13px;
}

.fa-lock {
    font-size: 3rem;
    margin-right: 15px;
    border: black 4px solid;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    padding: 12px;
}

.developing__item--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.developing__item--title {
    font-size: 1.3rem;
    margin-bottom: 6px;
}

.developing__info {
    width: 550px;
    margin-bottom: 30px;
    line-height: 30px;
    margin-left: 50px;
}

.developing__details {
    text-decoration: none;
    color: rgb(90, 170, 9);
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 50px;
}

.fa-arrow-right {
    margin-left: 20px;
}

.value {
    position: relative;
    padding: max(10px, 10vw);
    width: 100%;
    background-color: rgba(128, 128, 128, 0.083);
}

.value__title {
    color: #000;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.value__info {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 100px;
}

.value__element {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: -40px;
    margin-left: -40px;
}

.value__item {
    width: 350px;
}

.value__item--title {
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.value__item--info {
    font-size: 1rem;
    line-height: 25px;
}

.fa-music {
    font-size: 4rem;
    border: grey 3.5px solid;
    color: grey;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 22px;
}

.fa-chart-bar {
    font-size: 4rem;
    border: grey 3.5px solid;
    color: grey;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 25px;
}

.fa-star {
    font-size: 4rem;
    border: grey 3.5px solid;
    color: grey;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    padding: 22px;
}

.clients {
    position: relative;
    padding: max(10px, 10vw);
    width: 100%;
}

.clients__title {
    color: #000;
    font-size: 3.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.clients__info {
    color: #000;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 100px;
}

.clients__element {
    display: block;
}

.clients__item--first {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.clients__item--information--first {
    text-align: center;
    margin-top: 25px;
    width: 500px;
    line-height: 25px;
    background-color: rgba(192, 192, 192, 0.083);
    padding: 15px;
}

.clients__photo {
    border-radius: 50%;
    margin: 20px;
}

.clients__item--author {
    color: green;
    font-weight: 600;
    margin-top: 15px;
}

.clients__item--second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-bottom: 50px;
}

.clients__item--information--second {
    text-align: center;
    margin-top: 25px;
    width: 500px;
    line-height: 25px;
    background-color: rgba(192, 192, 192, 0.083);
    padding: 15px;
}

.contact {
    position: relative;
    padding: max(10px, 6vw);
    width: 100%;
    background-color: #60da55;
}

.contact__title {
    color: #fff;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.button--contact {
    border: #fff solid 3px;
    left: 45%;
    margin-top: 35px;
    font-size: 1rem;
    display: inline;
}

.contact a {
    text-decoration: none;
}

.company {
    position: relative;
    padding: max(10px, 6vw);
    width: 100%;
    display: flex;
    justify-content: center;
}

.company__item {
    margin: auto 40px auto 40px
}

.information {
    position: relative;
    padding: max(10px, 6vw);
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(36, 35, 35);
}

.information__item {
    width: 300px;
    margin-left: 50px;
}

.information__item--title {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.information__item--info {
    display: flex;
    line-height: 50px;
    align-items: center;
}

.information__item--text {
    margin-left: 10px;
    color: #fff;
}

.information i {
    color: #fff;
    font-size: 20px;
}

.information__item--info-twitter {
    display: flex;
    margin-bottom: 25px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: max(10px, 4vw);
    width: 100%;
    text-align: center;
}

.copyrights {
    color: black;
}

.footer__social {
    text-align: left;
}

.footer__social i {
    margin-left: 50px;
    color: #fff;
    background-color: rgb(36, 35, 35);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    padding: 9px;
}

@media screen and (max-width: 768px) {
    .nav {
        height: 50px;
    }
    #moblie--menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #moblie--menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #moblie--menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }
    #moblie--menu {
        position: absolute;
        top: 4%;
        right: 5%;
        transform: translate(5%, 20%);
    }
    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.5s ease-in-out;
        background: grey;
    }
    .nav__menu.active {
        background: #fff;
        top: 100%;
        opacity: 1;
        transition: opacity 0.3s ease-in;
        z-index: 99;
        right: 0;
        font-size: 1rem;
        height: 300px;
        width: 150px;
        text-align: center;
        border-bottom-left-radius: 20px;
    }
    .nav__item a {
        color: grey;
    }
    .navbar__links {
        text-align: center;
        padding: 0.5rem;
        width: 100%;
        display: block;
    }
    .nav__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        opacity: 0;
        height: 50vh;
        z-index: -1;
    }
    .header__title {
        font-size: 2.5rem;
    }
    .header__info {
        font-size: 1rem;
    }
    .service__title {
        font-size: 2.5rem;
        margin-bottom: 10px;
    }
    .service__info {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .service__items i {
        font-size: 35px;
    }
    .service__item--title {
        font-size: 1.3rem;
    }
    .service__items {
        display: inline;
    }
    .service__item--info {
        font-size: 0.9rem;
        text-align: center;
    }
    .relax__title {
        font-size: 2.5rem;
    }
    .relax__info {
        font-size: 1rem;
        line-height: 30px;
    }
    .developing {
        background-position: 50% 65%;
        background-size: 320px 320px;
    }
    .developing__title {
        font-size: 2.5rem;
    }
    .developing__title--info {
        font-size: 1rem;
    }
    .developing__elements {
        background-color: rgba(255, 255, 255, 0.638);
    }
    .developing__information--title {
        font-size: 1.3rem;
        margin-left: -20px;
    }
    .developing__information--info {
        font-size: 1rem;
        width: 600px;
        margin-left: -20px;
    }
    .developing__item i {
        font-size: 2.3rem;
        margin-left: -60px;
        width: 75px;
        height: 75px;
        border: black 3px solid;
    }
    .developing__item--title {
        font-size: 1.2rem;
    }
    .developing__item--text {
        font-size: 1rem;
        width: 230px;
    }
    .developing__info {
        margin-left: -20px;
    }
    .developing__details {
        font-size: 1rem;
        display: flex;
        justify-content: center;
    }
    .value__title {
        font-size: 2.5rem;
    }
    .value__info {
        font-size: 1rem;
        margin-bottom: 30px;
    }
    .value__element {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .fa-music::after {
        position: fixed;
    }
    .fa-chart-bar::after {
        position: fixed;
    }
    .value__item i {
        font-size: 3rem;
        width: 100px;
        height: 100px;
    }
    .value__item--title {
        font-size: 1.2rem;
    }
    .value__item--info {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    .clients__title {
        font-size: 2.5rem;
    }
    .clients__info {
        font-size: 1rem;
    }
    .contact__title {
        font-size: 2rem;
        width: 500px;
        margin: auto;
    }
    .button--contact {
        display: inline;
        margin-left: -40px;
    }
    .company {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .company__item {
        margin: 20px;
        justify-self: center;
    }
    .information {
        display: block;
    }
    .information__item--title {
        font-size: 1.2rem;
        margin-bottom: 10px;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .information__item--text {
        font-size: 1rem;
    }
    .information__item {
        margin: auto;
        justify-content: center;
    }
    .footer__social i {
        margin-left: 25px;
    }
}

@media screen and (max-width: 576px) {
    .nav {
        height: 40px;
    }
    .service__title {
        margin-top: 22px;
    }
    .relax__title {
        font-size: 1.7rem;
        margin-top: 22px;
    }
    .relax__info {
        width: 100%;
    }
    .relax__item {
        font-size: 1.2rem;
    }
    .relax .fa-check-circle {
        font-size: 40px;
    }
    .developing__information--title {
        text-align: center;
    }
    .developing__information--info {
        text-align: center;
        width: 420px;
    }
    .developing {
        background-position: 80px 300px;
    }
    .developing__elements {
        background: rgba(255, 255, 255, 0.576);
        padding-left: 50px;
        width: 100%;
    }
    .developing__elements i {
        background-color: rgba(255, 255, 255, 0.576);
    }
    .developing__info {
        width: 420px;
        text-align: center;
    }
    .clients__info {
        margin-bottom: 30px;
    }
    .clients__element {
        display: flex;
        flex-direction: column;
    }
    .clients__item--first {
        display: inline;
        text-align: center;
        margin-top: -20px;
    }
    .clients__item--information--first {
        width: 400px;
        margin-left: -10px;
        margin-top: -10px;
    }
    .clients__item--second {
        display: inline;
        text-align: center;
        margin-top: -20px;
    }
    .clients__item--information--second {
        width: 400px;
        margin-left: -10px;
        margin-top: -10px;
    }
    .contact__title {
        font-size: 1.3rem;
        width: 400px;
    }
    .footer__social i {
        width: 25px;
        height: 25px;
        margin-right: -5px;
        font-size: 0.6rem;
    }
    .copyrights {
        font-size: 0.7rem;
    }
}